<!--   <p>assets/views/home.html</p>

  <a href="/test/userAllShow">Test All Users Show Page!</a><br/>

  <a href="/test/commitmentAllShow">Test All Commitment Show Page!</a><br/> -->

<!--   <a href="/login">Login</a><br/>

  <a href="/main">Main</a>

  <h1>FREE YOUR MIND - HOME PAGE</h1> -->

  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <a href="/">Home</a>
      <a href="/main">Main</a>
      <a href="/login">Login</a>

    </ul>
  </div>
</nav>


<div class="container" ng-controller="loginCtrl">
  <div class="row">
    <h1>Free Your Mind</h1>
  </div>