
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <a href="/">Home</a>
      <a href="/logIn">Login</a>
      <a href="/signUp">Sign Up</a>
    </ul>
  </div>
</nav>

<div class="container" ng-app="FymApp">

  <ng-view></ng-view>

</div>
