<!DOCTYPE html>
<html>
<head>
  <title>Free Your Mind App</title>
  <base href="/">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js"></script>
<!--   // <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.3/ui-bootstrap-tpls.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.js"></script>

<!--load client JS files here!! -->
  <script src="/js/app.js"></script>
  <script src="/js/controllers/HomeCtrl.js"></script>
  <script src="/js/controllers/TestUserCtrl.js"></script>
  <script src="/js/controllers/TestCommitmentCtrl.js"></script>
  <script src="/js/controllers/loginCtrl.js"></script>
<!--   // <script src="/js/controllers/NavBarCtrl.js"></script> -->
  <script src="/js/controllers/MainCtrl.js"></script>
  <script src="/js/services/UserService.js"></script>
</head>

<body>

  <div class="container">
    <%- body %>
  </div>

</body>
</html>