<a href="/">Home</a>
<h1>TEST - Login user page</h1>

<form method="post" action="/api/user/login">
  <div class="form-group">
    <input name="email" type="text" placeholder="email">
    <input name="password" type="password" placeholder="password">
  </div>
  <button type="submit">Submit</button>
</form>
